html {
    font-family: sans-serif;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-list {
    display: flex;
    list-style-type: none;
}

.nav-link {
    margin: 0 8px;
    background-color: #000;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 12px;
}

.nav-link:hover {
    text-decoration: underline;
}

.cta-link {
    background-color: #ffbd00;
    border-radius: 14px;
}

.tab-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.tab-item {
    flex-grow: 1;
}

.tab-link {
    background-color:#555;
    color:#eee;
    display: block;
    text-align: center; 
    margin: 0 4px;
    padding: 15px 30px;
}